<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[

    const RUN_URL = '<%=luci.dispatcher.build_url("admin", "services", "ssrpro","cmac")%>';

    function cmac() {
        let btn = document.getElementById("update_script");
        let dmac = btn.getAttribute("data-mac");
        btn.disabled = true;
	var s = document.getElementById('mac-status');
	btn.value    =`<%:Perform change mac%>` ;
        XHR.get(RUN_URL, null, (x,d) => {

			s.innerHTML = "<font color='green'><%:Change mac complete%></font>";
			btn.disabled = false;
                        btn.value = `<%:Perform mac%>`;
                        btn.setAttribute("data-mac", d.cmac);

        });
        return false
    }
//]]></script>
<input type="button" class="btn cbi-button cbi-button-reset" id="update_script"  value="<%:Perform mac%> " data-mac="<%= self.mac %>"  onclick="cmac()" />
<span id="mac-status"><%= self.mac %></span>
<%+cbi/valuefooter%>

 
