<% math.randomseed(os.time())
local dsp=require"luci.dispatcher"
local uci=luci.model.uci.cursor()
-%>
<link rel="stylesheet" href="/luci-static/cssr/css/cssr.css?v=<%=math.random(1,100000)%>">
<script src="/luci-static/cssr/jquery.min.js"></script>

<fieldset id="cssr_status_fieldset" class="cbi-section">
<div class="pure-g status">
    <div class="pure-u-1-4">
        <div class="block pure-g">
            <div class="pure-u-2-5">
                <div class="img-con">
                    <img src="/luci-static/cssr/img/client.svg">
                </div>
            </div>
            <div class="pure-u-3-5">
                <h4 id="cssr_status"><%:Client%><br /><span class="red"><%:Not Running%></span></h4>
            </div>

        </div>
    </div>
    <div class="pure-u-1-4">
        <div class="block pure-g">
            <div class="pure-u-2-5">
                <div class="img-con">
                    <img src="/luci-static/cssr/img/udp.svg">
                </div>
            </div>
            <div class="pure-u-3-5">
                <h4 id="game_status"><%:Game Mode%><br /><span class="red"><%:Not Running%></span></h4>
            </div>

        </div>
    </div>
    <div class="pure-u-1-4">
        <div class="block pure-g">
            <div class="pure-u-2-5">
                <div class="img-con">
                    <img src="/luci-static/cssr/img/pdnsd.svg">
                </div>
            </div>
            <div class="pure-u-3-5">
                <h4 id="pdnsd_status">PDNSD<br /><span class="red"><%:Not Running%></span></h4>
            </div>

        </div>
    </div>
    <div class="pure-u-1-4">
        <div class="block pure-g">
            <div class="pure-u-2-5">
                <div class="img-con">
                    <img src="/luci-static/cssr/img/socks5.svg">
                </div>
            </div>
            <div class="pure-u-3-5">
                <h4 id="socks5_status">SOCKS5<br /><span class="red"><%:Not Running%></span></h4>
            </div>

        </div>
    </div>

<div class="pure-u-1-4 check" onclick="check_connect('baidu')">
        <div class="block pure-g">
            <div class="pure-u-2-5">
                <div class="img-con">
                    <img src="/luci-static/cssr/img/site_icon_01.png">
                </div>
            </div>
            <div class="pure-u-3-5">
	         <h4 id="status_baidu"><%:Baidu Delay%><br/><span id="baidu_status" class="yellow"><%:Touch Check%></span></h4>
	
            </div>

        </div>
    </div>
    <div class="pure-u-1-4 check"  onclick="check_connect('taobao')">
        <div class="block pure-g">
            <div class="pure-u-2-5">
                <div class="img-con">
                    <img src="/luci-static/cssr/img/site_icon_02.png">
                </div>
            </div>
            <div class="pure-u-3-5">
                <h4 id="status_taobao"><%:Taobao Delay%><br/><span id="taobao_status" class="yellow"><%:Touch Check%></span></h4>
  </div>

        </div>
    <div class="pure-u-1-4 check" onclick="check_connect('google')">
        <div class="block pure-g">
            <div class="pure-u-2-5">
                <div class="img-con">
                    <img src="/luci-static/cssr/img/site_icon_03.png">
                </div>
            </div>
            <div class="pure-u-3-5">
                <h4 id="status_google"><%:Google Delay%><br/><span id="google_status" class="yellow"><%:Touch Check%></span></h4>
            </div>

        </div>
    </div>
    <div class="pure-u-1-4 check"  onclick="check_connect('youtube')">
        <div class="block pure-g">
            <div class="pure-u-2-5">
                <div class="img-con">
                    <img src="/luci-static/cssr/img/site_icon_04.png">
                </div>
            </div>
            <div class="pure-u-3-5">
                <h4 id="status_youtube"><%:Youtube Delay%><br/><span id="youtube_status" class="yellow"><%:Touch Check%></span></h4>
            </div>

        </div>
    </div>



</div>
<script>

    const CSSR_ASSETS = '/luci-static/cssr/';
    const STATUS1_URL = '<%=url([[admin]], [[services]], [[cssr]], [[run]])%>';
    const CLIENT = '<%:Client%>';
    const GAME_MODE = '<%:Game Mode%>';
    const RUNNING = '<%:Running%>';
    const NOT_RUNNING = '<%:Not Running%>';
    const CHECK_IP_URL = '<%=url([[admin]], [[services]], [[cssr]], [[ip]])%>';

    XHR.poll(2, STATUS1_URL, null,
        function (x, data) {
            if (data) {
                if (data.global) {
                    $("#cssr_status").html(CLIENT + '<br><span class="green">' + RUNNING + '</span>');
                } else {
                    $("#cssr_status").html(CLIENT + '<br><span class="red">' + NOT_RUNNING + '</span>');
                }
                if (data.game) {
                    $("#game_status").html(GAME_MODE + '<br><span class="green">' + RUNNING + '</span>');
                } else {
                    $("#game_status").html(GAME_MODE + '<br><span class="red">' + NOT_RUNNING + '</span>');
                }
                if (data.pdnsd) {
                    $("#pdnsd_status").html('PDNSD<br><span class="green">' + RUNNING + '</span>');
                } else {
                    $("#pdnsd_status").html('PDNSD<br><span class="red">' + NOT_RUNNING + '</span>');
                }
                if (data.socks5) {
                    $("#socks5_status").html('SOCKS5<br><span class="green">' + RUNNING + '</span>');
                } else {
                    $("#socks5_status").html('SOCKS5<br><span class="red">' + NOT_RUNNING + '</span>');
                }
            }
        }
    );

		function check_connect(url){
			var s=document.getElementById(url+'_status');
			if (s){
				var div=s.parentNode.parentNode.parentNode.parentNode;
				div.removeAttribute('onclick');
				s.innerHTML='<%:Check...%>';
				XHR.get('<%=dsp.build_url("admin/services/cssr/check")%>',
					{url:url},
					function(x,rv){
						if (rv.ret==0){
							s.className="red";
							s.innerHTML='<%:Connect Error%>';
						}else{
							if (rv.ret<100){
								s.className="green";
							}else if (rv.ret<200){
								s.className="yellow";
							}else{
								s.className="red";
							}
							s.innerHTML=rv.ret+" ms";
						}
						div.setAttribute('onclick','check_connect("'+url+'")');
					}
				);
			}
			return false;
		}

//]]>
</script>
</fieldset>
